/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #4481eb;
  background: url("/image/weather.jpg") no-repeat bottom center/cover;
  font-family: "Nunito", sans-serif;
  overflow: hidden;
  letter-spacing: 0.2em;
} */


body{
    /* height: 100vh;
    overflow: hidden; */
    background-color: #4481eb;
    background: url("/image/weather.jpg") no-repeat bottom center/cover;
    letter-spacing: 0.2em;
    font-size: 0.8em;
  }


.container {
  max-width: 400px;
}

.icon{
    position: relative;
    top: -50px;
    border-radius: 50%;
    width: 100px;
    margin-bottom: -50px;
  }
